* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #377d91;
  --light-blue: #61dafb;
  --orange-strong: #AD5100;
  --orange-light: #E06901;
  --yellow: #ffc100;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.App {
  width: 80vw;
  margin: 0rem auto;
  padding-top: 4rem;
  height: 50vh;
}

h1 {
  padding-top: 1rem;
  color: #fff;
}

.quizz-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  flex-direction: column;
}

.play-again {
  cursor: pointer;
  width: 150px;
  padding: 1rem;

  font-size: 20px;
  font-weight: 700;

  background: var(--dark-blue);
  border: 1px double var(--dark-blue);
  color: #fff;
}

.play-again:hover {
  background: var(--light-blue);
  transition: all .5s ease-in-out;
}

.board-btn {
  cursor: pointer;
  width: 150px;
  padding: 1rem;

  font-size: 20px;
  font-weight: 700;

  background: var(--orange-strong);
  border: 1px double var(--orange-strong);
  color: #fff;
}

.board-btn:hover {
  background: var(--orange-light);
  transition: all .5s ease-in-out;
}
